<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net451" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net451" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net451" />
  <package id="NLog" version="4.5.11" targetFramework="net451" />
</packages>